Repository BrewingBytes/BranchWise: changes, and which Codecov flags are due for each by the changed paths.
All: rust, vue

codecov.yml:

component_management:
  individual_components:
    - component_id: "rust"
      paths:
        - "src-tauri/"
    - component_id: "vue"
      paths:
        - "src/"

comment:
  layout: "header, diff, flags, components"

wait for labeler
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Due: none

Add GitHub Actions (#1)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto-assign.yml
  .github/labeler.yml
  .github/workflows/pull-request-chores.yml
  .github/workflows/rust.yml
  .github/workflows/vue.yml
  .gitignore
  codecov.yml
  eslint.config.js
  package.json
  src-tauri/src/main.rs
  src/App.vue
  src/components/GreetComponent.vue
  src/tests/example.test.ts
  src/vite-env.d.ts
  tsconfig.json
  vitest.config.ts
  yarn.lock
Due: rust, vue

run actions on main also
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Due: none

change wait labeler
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Due: none

Run Workflows on Main Branch also (#2)
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Due: none

only wait for pull request
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Due: none

upload to codecov
  .github/workflows/vue.yml
  vitest.config.ts
Due: none

Add Vue Coverage to Codecov (#3)
  .github/workflows/vue.yml
  vitest.config.ts
Due: none

add vue tests
  package.json
  src/tests/main.test.ts
  vitest.config.ts
  yarn.lock
Due: vue

add rust tests
  src-tauri/src/main.rs
Due: rust

Improve Initial Coverage (#4)
  package.json
  src-tauri/src/main.rs
  src/tests/main.test.ts
  vitest.config.ts
  yarn.lock
Due: rust, vue

add vuetify test
  src/tests/main.test.ts
Due: vue

Add Vuetify Register Test (#5)
  src/tests/main.test.ts
Due: vue

add function to search for .git folder
  src-tauri/src/errors.rs
  src-tauri/src/main.rs
Due: rust

always run tests
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Due: none

check if git folder has required files
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/errors/errors.rs
  src-tauri/src/errors/mod.rs
  src-tauri/src/git/git_files.rs
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
Due: rust

fix linter
  src-tauri/src/errors/git_error.rs
  src-tauri/src/errors/mod.rs
  src-tauri/src/git/project_folder.rs
Due: rust

remove matches
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/project_folder.rs
Due: rust

move required files to git project struct
  src-tauri/src/git/project_folder.rs
Due: rust

create separate git project file
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/project_folder.rs
Due: rust

get branches from main local folder
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Due: rust

add tests for local branches
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Due: rust

implement subfolders
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Due: rust

only use git test folder infrastructure
  src-tauri/.gitignore
  src-tauri/src/git/project_folder.rs
Due: rust

remove greet handler
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
Due: rust

add vue display for branches
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/tauri.conf.json
  src/App.vue
  src/components/GreetComponent.vue
  src/pages/IndexPage.vue
  src/plugins/index.ts
  src/router/index.ts
  src/types/gitProject.ts
  yarn.lock
Due: rust, vue

fix lint
  src/pages/IndexPage.vue
Due: vue

remove vue tests
  .github/workflows/vue.yml
  codecov.yml
Due: none

Open Git Project and Show All Branches (#6)
  .github/workflows/rust.yml
  .github/workflows/vue.yml
  codecov.yml
  package.json
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/errors/git_error.rs
  src-tauri/src/errors/mod.rs
  src-tauri/src/git/git_files.rs
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.vue
  src/components/GreetComponent.vue
  src/pages/IndexPage.vue
  src/plugins/index.ts
  src/router/index.ts
  src/types/gitProject.ts
  yarn.lock
Due: rust, vue

refactor tests for remote branches
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/git_files.rs
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/project_folder.rs
Due: rust

refactor
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Due: rust

get local upstreams
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Due: rust

add tags and remote branches support
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Due: rust

display in vue
  src/pages/IndexPage.vue
Due: vue

fix linter
  src/types/gitProject.ts
Due: vue

fix lint
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Due: rust

fix action
  .github/workflows/pull-request-chores.yml
Due: none

Add Remote Branches Support (#7)
  .github/workflows/pull-request-chores.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/git_files.rs
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/project_folder.rs
  src/pages/IndexPage.vue
  src/types/gitProject.ts
Due: rust, vue

Add Pinia and app-bar
  package.json
  src/App.vue
  src/plugins/index.ts
  src/plugins/pinia.ts
  src/plugins/vuetify.ts
  src/stores/app.ts
  yarn.lock
Due: vue
